nav {
    font-family: 'Odibee Sans', cursive;
}
header h1{
    font-size: 33px;
    margin: 0;
    padding: 6px 0;
    color: rgb(16, 116, 231);
    font-family: 'East Sea Dokdo', cursive;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
header img{
    max-width: 100px;
    padding-left: 40px;
}
header span{
    color: hotpink;
}
.footerDiv {
    margin-top: 10%;
    margin-bottom: 5%;
    text-align: center;
    font-family: 'Dr Sugiyama', cursive;
}
#btn {
    border-radius: 50px;
}

#centerDiv{
    width: 50%;
    height: 700px;
    border:solid 3px green;
    background-image: linear-gradient(rgb(160, 235, 222) , rgb(248, 173, 255));
    margin: 50px auto 0 auto;
    font-family: 'Odibee Sans', cursive;
}
#galleryDiv{
    width: 50%;
    height: 700px;
    border:solid 3px green;
    background-image: linear-gradient(rgb(235, 215, 160) , rgb(248, 173, 255));
    margin: 50px auto 0 auto;
    font-family: 'Odibee Sans', cursive;
}
#galleryDiv h3{
    font-family: 'Rock Salt', cursive;
}
#body {
    background-color: rgb(236, 209, 243);
}
@media only screen and (max-width: 600px) {
    #centerDiv {
        margin:50px 0 0 0 ;
        width: 100%;
    }
    #galleryDiv{
        margin:50px 0 0 0 ;
        width: 100%;
    }
}



/* ............................................ */
#participate{
    font-family: 'Odibee Sans', cursive;
}